name: MQTT IO
version: 0.4.0
slug: mqtt-io
description: Expose GPIO modules and digital sensors via MQTT for remote control and
  monitoring.
url: https://github.com/hassio-addons/addon-mqtt-io
codenotary: codenotary@frenck.dev
arch:
- aarch64
- amd64
- armv7
init: false
homeassistant_api: true
full_access: true
privileged:
- SYS_RAWIO
map:
- config:rw
- share:rw
- ssl
options:
  configuration_file: /config/mqtt-io/config.yml
schema:
  configuration_file: str
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
image: ghcr.io/hassio-addons/mqtt-io/{arch}
