name: Tailscale
version: 0.11.1
slug: tailscale
description: Zero config VPN for building secure networks
url: https://github.com/hassio-addons/addon-tailscale
codenotary: codenotary@frenck.dev
ingress: true
ingress_port: 0
ingress_stream: true
startup: services
panel_icon: mdi:vpn
arch:
- aarch64
- amd64
- armhf
- armv7
- i386
init: false
hassio_api: true
host_network: true
map:
- share:rw
schema:
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  login_server: url?
  tags:
  - match(^tag:[a-zA-Z0-9]-?[a-zA-Z0-9]+$)?
image: ghcr.io/hassio-addons/tailscale/{arch}
